#ads
deplyment_id = 16247
instance_name_ads = ads-qa.lab.nordigy.ru
path_ads = /api/v2/deployment/
port_ads = 80
protocol_ads = http
username_ads=loaduser1
password_ads=loaduser1

#glip
port_glip = 443
protocol_glip =https
instance_name_glip = hooks.glip.com
path_glip = /webhook/
#webhook_id_glip = 94ab4ac8-191a-4a8c-ad35-5664b75fb5bb
webhook_id_glip = c49a28ff-b402-4965-afb9-9a09cfa7fd31
#https://hooks.glip.com/webhook/c49a28ff-b402-4965-afb9-9a09cfa7fd31
